
<div class= "mypic">
  <img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12003856_10153533287820953_4272617786006495241_n.jpg?oh=276d3cddf286e86aa2f3b7285d35f004&oe=5781A012" class= "jesus" alt="HTML5 Icon">
<h1>Jesus Ablan</h1>
<div class= "line">
  <hr>
</div>
</div>

<div class="posts">

<div class="imgWrap">
<a href= "http://www.easystyleit.com">
<div class= "shadow"></div>
<img src="https://scontent.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12094981_10153587628840953_330879996491422630_o.jpg" class= "work" alt="HTML5 Icon">
<p class="imgDescription">Easy Style It enables users to create their own snowboard outfit using multiple brands.</p>
</a>
</div>

<div class="imgWrap">
<div class= "shadow"></div>
<img src="http://3.bp.blogspot.com/-8w3v3ZfRzdY/UUo2F9yI50I/AAAAAAAAC-o/Xp-CtSAPFs0/s1600/Fidelity_Thumbnail.png" class= "work" alt="HTML5 Icon">
<p class="imgDescription">Worked on a consulting project with Fidelity to develop a new app to educate people on investing in stocks.</p>
</div>

<div class="imgWrap">
<a href= "http://www.talentshow.io">
<div class= "shadow"></div>
<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xta1/t31.0-8/12087919_10153585198105953_6947518605859093576_o.jpg" class= "work" alt="HTML5 Icon">
<p class="imgDescription">Talent Show is a website to find and post undiscovered talent. </p>
</a>
</div>

<div class="imgWrap">
<a href= "http://www.upveil.com">
<div class= "shadow"></div>
<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xat1/t31.0-8/12030386_10153585200195953_5627928785957959212_o.jpg" class= "work" alt="HTML5 Icon">
<p class="imgDescription">Upveil enables users to find, post, and vote on the best and newest products.</p>
</a>
</div>

<div class="imgWrap">
<a href= "http://www.sturdyguide.com">
<div class= "shadow"></div>
<img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/12525545_10153939110985953_914201443313985103_o.jpg" class= "work" alt="HTML5 Icon">
<p class="imgDescription">Sturdy Guide allows Babson students to upload and download study guides from various courses.</p>
</a>
</div>

</div>

<div class= "line"> <hr> </div>

<section> 
  <div class= "icons">
<a href="https://twitter.com/jesusaleablan"><img src="http://vignette1.wikia.nocookie.net/dusktilldawn/images/1/1a/Twitter_logo.png/revision/latest?cb=20140507210836" class= "icon" alt="HTML5 Icon"></a>

<a href="mailto:jablanporras1@babson.edu"><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/email-4096-black.png" class= "icon2" alt="HTML5 Icon"></a>
</div>


</section>
